{% extends 'base.html.twig' %}

{% block title %}Liste d'éditeurs{% endblock %}

{% block body %}
    <section class="container px-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1>Liste d'éditeurs</h1>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_admin_editor_new') }}" class="btn btn-primary">
                    <i class="fas fa-plus"></i> Nouvel éditeur
                </a>
            {% endif %}
        </div>

        <ul class="list-group list-group-flush">
            {% for editor in editors %}
                <div class="card mb-1">
                    <div class="card-body">
                        <div class="card-title d-flex justify-content-between">
                            <a href="{{ path('app_admin_editor_show', {id: editor.id}) }}" class="stretched-link link-dark">
                                <h4 class="mb-1">{{ editor.name }}</h4>
                            </a>
                            <div class="d-flex align-items-center">
                                <small class="text-muted me-3">Identifiant : {{ editor.id }}</small>
                                
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <li>Aucun enregistrement en base de données.</li>
            {% endfor %}
        </ul>
        {{ pagerfanta(editors) }}
    </section>
{% endblock %}