{% extends 'base.html.twig' %}

{% block title %}Liste de livres{% endblock %}

{% block body %}

<section class="container px-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Liste de livres</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_admin_book_new') }}" class="btn btn-primary">
                <i class="fas fa-plus"></i> Nouveau livre
            </a>
        {% endif %}
    </div>

    <ul class="list-group list-group-flush">
        {% for book in books %}
            <div class="card mb-1">
                <div class="card-body">
                    <div class="card-title d-flex justify-content-between">
                        <a href="{{ path('app_admin_book_show', {id: book.id}) }}" class="stretched-link link-dark">
                            <h4 class="mb-1">{{ book.title }}</h4>
                        </a>
                        <div class="d-flex align-items-center">
                            <small class="text-muted me-3">Identifiant : {{ book.id }}</small>
                            
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <li>Aucun enregistrement en base de données.</li>
        {% endfor %}
    </ul>
    {{ pagerfanta(books) }}
</section>
{% endblock %}
